<!-- data-color = "#005A3B" -->
<div class="sidebar" data-color="green">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
      <a target="_blank"
         href="https://appseed.us/admin-dashboards/flask-now-ui-dashboard" 
         class="simple-text logo-mini">
        SPOC lab
      </a>
      <a target="_blank" 
         href="https://appseed.us/admin-dashboards/flask-now-ui-dashboard" 
         class="simple-text logo-normal">
        het-cam
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
      {% if current_user.is_authenticated %}
        {% if segment is defined %}
          <li class="{% if 'index' in segment %} active {% endif %}">
          {% else %}
          <li class="">
        {% endif %}
            <a href="/">
              <i class="now-ui-icons media-1_camera-compact"></i>
              <p>HET CAM²</p>
            </a>
          </li>
          <li class="{% if 'gallery' in segment %} active {% endif %}">
            <a href="/gallery">
              <i class="now-ui-icons design_image"></i>
              <p>Recorded Images</p>
            </a>
          </li>
          <li class="{% if 'skeleton' in segment %} active {% endif %}">
            <a href="/gallery-skeleton">
              <i class="now-ui-icons design_image"></i>
              <p>Skeletonized Images</p>
            </a>
          </li>
          <li class="{% if 'yolo' in segment %} active {% endif %}">
            <a href="/gallery-yolo">
              <i class="now-ui-icons design_image"></i>
              <p>Yolov5 object detection</p>
            </a>
          </li>        
          <li class="{% if 'experiments' in segment %} active {% endif %}">
            <a href="/experiments">
              <i class="now-ui-icons education_atom"></i>
              <p>Experiments</p>
            </a>
          </li>
          <li class="{% if 'camera-settings' in segment %} active {% endif %}">
            <a href="/camera-settings">
              <i class="now-ui-icons ui-1_settings-gear-63"></i>
              <p>Camera</p>
            </a>
          </li>
        {#
        <!-- <li class="{% if 'dashboard' in segment %} active {% endif %}">
          <a href="/dashboard.html">
            <i class="now-ui-icons education_atom"></i>
            <p>Dashboard</p>
          </a>
        </li> -->
        <!-- <li class="{% if 'user' in segment %} active {% endif %}">
          <a href="/user.html">
            <i class="now-ui-icons users_single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="{% if 'icons' in segment %} active {% endif %}">
          <a href="/icons.html">
            <i class="now-ui-icons design_app location_map-big"></i>
            <p>Icons</p>
          </a>
        </li>
        <li class="{% if 'notifications' in segment %} active {% endif %}">
          <a href="/notifications.html">
            <i class="now-ui-icons ui-1_bell-53"></i>
            <i class="now-ui-icons loader_gear"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="{% if 'tables' in segment %} active {% endif %}">
          <a href="/tables.html">
            <i class="now-ui-icons design_bullet-list-67"></i>
            <p>Table List</p>
          </a>
        </li>
        <li class="{% if 'typography' in segment %} active {% endif %}">
          <a href="/typography.html">
            <i class="now-ui-icons text_caps-small"></i>
            <p>Typography</p>
          </a>
        </li> -->
        <!-- <li class="{% if 'page-blank' in segment %} active {% endif %}">
            <a href="/page-blank.html">
                <i class="now-ui-icons text_caps-small"></i>
                <p>Blank Page</p>
            </a>
        </li>
        <li class="{% if 'page-404' in segment %} active {% endif %}">
            <a href="/page-404.html">
                <i class="now-ui-icons loader_gear"></i>
                <p>Error 404</p>
            </a>
        </li>         -->
        #}
        <li class="">
            <a href="{{ url_for('base_blueprint.logout') }}">
                <i class="now-ui-icons media-1_button-power"></i>
                <p>Logout</p>
            </a>
        </li>         
        <li class="active">
          <a target="_blank"
             href="https://www.plus.ac.at/biowissenschaften/der-fachbereich/arbeitsgruppen/lepperdinger/spoc-labs/">
            <i class="now-ui-icons objects_spaceship"></i>
            <p>SPOC lab PLUS</p>
          </a>
        </li>
        {% else %}
        <li class="">
          <a href="/login">
            <i class="now-ui-icons design_image"></i>
            <p>Login</p>
          </a>
        </li>
        <li class="active">
          <a href="/gallery">
            <i class="now-ui-icons design_image"></i>
            <p>Recorded Images</p>
          </a>
        </li>
        <li class="">
          <a target="_blank"
             href="https://www.plus.ac.at/biowissenschaften/der-fachbereich/arbeitsgruppen/lepperdinger/spoc-labs/">
            <i class="now-ui-icons objects_spaceship"></i>
            <p>SPOC lab PLUS</p>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
